thead
{
  background-color: #c4c2c0;
}
.page-title
{
  text-align: center;
}
.page-mainimg
{
  text-align: center;
}
.page-src
{
  text-align: center;
  font-size: 9px;
}
#maintitle
{
  text-align: center;
}
#maindivindex
{
  max-width: 770px;
  margin-top: 20px;
  padding: 0;
}
#maindivabout
{
  max-width: 480px;
  padding: 0;
}
#maindivintro
{
  max-width: 797px;
  padding: 0
}
#listenter
{
  max-width: 797px;
  padding: 0
}
