<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>About Me</title>
    <style>
      #nav1
      {
        color: blue;
      }

    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">Penguin World</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="nav1">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile.html">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table.html">My Favorite Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="comments.html">Comments</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="page-title">
      <h1>Some Comments I have</h1>
    </div>


    <div id="commenttext">
        <table id="commentTable" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">CommentText</th>
            </tr>
          </thead>
          <tbody id="commentTableBody">
            <tr v-for="comment in comments" id="comments">
              <td>{{comment.id}}</td>
              <td>{{comment.commentText}}</td>
            </tr>
          </tbody>
        </table>
        <form id="newCommentForm" v-on:submit.prevent ="createComment()">
          <div class="comments">
              <label for="commentText">Submit Comment</label>
              <input id="commentText" type="textarea" v-model="newComment.commentText" class="form-control" placeholder="Write your comment here">
          </div><br/>
          <input type="submit" value="Create New Comment" class="button" id="submitNewComment">
        </form>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="js/comments.js"></script>
  </body>

</html>
